@import "../node_modules/antd/dist/antd.less";

// see list of variables in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #499948;
@border-radius-base: 7px;
@font-size-base: 12px;
@font-family: 'Merriweather Sans';

.ant-table-thead > tr > th {
    font-weight: 700;
}

.ant-menu > .ant-menu-item-divider {
    margin: 12px 24px;
}
